/* header and animation */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes logoAnimation {
    0% {
        width: 25px;
        opacity: 0;
    }

    100% {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation-name: logoAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

/* regular (mobile) view */

body {
  font-family: 'Poppins', serif;
  background-image: url('../images/concrete_seamless.png');
  background-color: #f1f1f1;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

/* keeps the color same after visit */
.nav_links a:visited {
  color: blue;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 1 450px;
}

.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 1 450px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
}

/* 900 px above (larger viewport) */

@media only screen and (min-width: 900px) {
    header {
        display: flex;
        align-items: flex-start;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .card {
        display: flex;
        flex: 0 1 275px;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    header:not(div header) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    main {
        margin-top: 130px;
    }
}

/* reduced motion */

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

/* print viewport */

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
        background-color: #f1f1f1;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        display: flex;
        flex-basis: 325px;
        border: 2px solid #45ADDD;
    }

    #gallery, .gallery {
        display: none;
    }

    .card ul li:nth-child(2)::after {
        content: '👍';
    }

}